

.title {
  text-align: center;
 
}

 


.changePassword {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1rem;
    margin-left: 22%;
    width: 60%;
  }
  label {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  input {
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 0.25rem;
    outline: none;
    width: 80%;
  }
  .pass{
    width: 100%;
    display: flex;
    
    .icon{
      color: rgb(168, 184, 198);
      cursor: pointer;
     
      
     }
  }
  
  .btnchangePass{
    display: flex;
    justify-content: space-between;
   margin: 1% 20% 2%;

    .btnCancle{
    cursor: pointer;
    align-self: flex-end;
    padding: 0.5rem;
    margin-top: 20px;
    background-color: rgb(153, 21, 19);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    }
    
  }
 
  
  .errorMsg {
    max-width: 100%;
    font-size:0.75rem;
    color:rgb(248, 106, 106);
  }

  .success-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f9f4;
    -webkit-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(86, 112, 94, 0.47);
    color: #0e4e1d;
    padding: 30px 30px;
    border-radius: 5px;
  }
  .err-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f5f9f4;
    -webkit-box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(197, 141, 140, 0.47);
    color: #b73a1a;
    padding: 30px 30px;
    border-radius: 5px;
  }
  .progress-bar-err {
    height: 5px;
    background-color: #c24c31;
    width: 100%;
    animation: progressBar 1s linear forwards; /* Thời gian chạy: 3 giây */
  }
  .progress-bar {
    height: 5px;
    background-color: #28a745;
    width: 100%;
    animation: progressBar 1s linear forwards; /* Thời gian chạy: 3 giây */
  }
  
  @keyframes progressBar {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }